body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.small-text {
    font-size: 12px;
}

input#imgPicker {}

div#container1 {
    margin-top: 10px;
}

img#imgPreview { display: none; }

span#result {
    line-height: 28px;
    vertical-align: top;
    margin-left: 10px;
    font-size: 20px;
    color: rgb(0, 180, 0);
}